@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tabbrowser-tabs .scrollbutton-down,
#tabbrowser-tabs .scrollbutton-up,
#alltabs-button,
.tabbrowser-tab .tab-throbber,
.tabbrowser-tab .tab-close-button,
.tabbrowser-tab .tab-icon-image,
.tabs-newtab-button {
    display: none !important;
}

.tab-background-start,
.tab-background-end {
    visibility: hidden !important;
}

.tab-background,
.tab-background-middle,
.tabbrowser-tab:after,
.tabbrowser-tab:before,
.tabbrowser-tab:after {
    box-shadow:none !important;
    background:none !important
}

#TabsToolbar {
    margin-left: -1.25em !important;
    margin-right: -1.25em !important;
    height: 26px !important;
}

.tab-icon-sound {
    filter: invert(100%);
}

#tabbrowser-tabs {
  background-color: #1d2021 !important;
}

.tabbrowser-tab {
    background: #1d2021 !important;
    color: #ebdbb2 !important;
}

.tabbrowser-tab:hover {
  background-color: #928374 !important;
}

.tabbrowser-tab[selected] {
  background: #076678 !important;
  color: #1d2021 !important;
}
